h1
{
	background: #999;
	color: white;
	display: inline;
}
body
{
	background #eee;
}

.navigation
{
	display: flex;
	padding: 20px 50px;
}

.linksInNavigation
{
	flex: 1;
}

.uebersichtHeadline
{

}


nav ul

{
	margin: 0;
	display: inline;
}

nav ul li 
{
	display: inline-block;
	list-style-type: none;
}

#loginHeader
{
	position: absolute;
	width: calc(25% + 6px);
	height: 50px;
	border-radius: 15px;
	background: #89BFF2;
	opacity: 0.7;
	margin-left: 35%;
	margin-top: 5%;
	line-height: 50px;
	vertical-align: center;
}
#loginHeaderText
{
	position: absolute;
	width: calc(25% + 6px);
	height: 50px;
	border-radius: 15px;
	opacity: 1;
	margin-left: 35%;
	margin-top: 5%;
	line-height: 50px;
	text-align: center;
}

#loginBox
{
	position: absolute;
	border: solid gray 3px;
	width: calc(25% - 6px);
	height: calc(25% - 6px);
	line-height: 25%;
	border-radius: 15px;
	margin: 100px white;
	background: #E1E4E8;
	text-align: center;
	margin-top: 8%;
	margin-left: 32.5%;
}
#loginContentInBox
{
	position: absolute;
	width: calc(25% - 6px);
	height: calc(25% - 6px);
	border-radius: 15px;
	opacity: 1;
	margin-left: 32.5%;
	margin-top: 12%;
	line-height: (height: 25%);
	text-align: center;
}
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}
#memberHeaderBox
{
	position: absolute;
	border: solid gray 3px;
	width: calc(90% - 6px);
	height: calc(12% - 6px);
	border-radius: 15px;
	margin: 100px white;
	background: #E1E4E8;
	text-align: center;
	margin-left: 2.5%;
	margin-top: 0.2%;
}
#memberHeaderContentInBox
{
	position: absolute;
	width: calc(75%  - 6px);
	height: calc(10% - 6px);
	opacity: 1;
	text-align: center;
	display: flex;
}
.memberLinkinHeader
{
	margin: auto;
	flex: 1;
}
#link_uebersicht
{
	position: absolute;
	width: calc(20% - 6px);
	height: calc(10% - 6px);
	border-radius: 15px;
	opacity: 1;
	margin-left: 2.5%;
	margin-top: 0.2%;
	text-align: center;

}
#link_logout
{
	position: absolute;
	width: calc(20% - 6px);
	height: calc(10% - 6px);
	border-radius: 15px;
	opacity: 1;
	margin-left: 2.5%;
	margin-top: 0.2%;
	text-align: center;

}
#link_changepassword
{	
	position: relative;
	width: calc(20% - 6px);
	height: calc(10% - 6px);
	text-align: center;

	margin-left: 50%;
	
}
#memberBox
{
	position: absolute;
	border: solid gray 3px;
	width: calc(90% - 6px);
	height: calc(80% - 6px);
	border-radius: 15px;
	margin: 100px white;
	background: #E1E4E8;
	text-align: center;
	margin-left: 2.5%;
	margin-top: 7.5%;
}
#memberContentInBox
{
	position: absolute;
	width: 90%;
	height: 80%;
	opacity: 1;
	margin-top: 7.5%;
	margin-left: 1.75%;
	text-align: center;
}
#btnLogin
{
	color: #fff;
	background: #337ab7;
	padding: 5px;
	width: 212px;
}
#content
{
	border: solid gray 1px;
	width: 20%;
	border-radius: 5px;
	margin: 100px white;
	background: white;
	padding: 50px;
}
table, td 
{
    border: 1px solid black;
}
th{
	border:3px solid black;
}
.uebersichtListeReihe
{
	max-width: 1300px;
	background-color: #999;
	display: flex;
}
.uebersichtListeSpalte
{
	flex: 1;
}